// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




div#item-ranking{
    float: left;
    margin-right: 10px;
    width: 73px;
    height: 100px;
    margin-right: 20px;


    .ranking-block{
        list-style: none;
    }
    .vote-up-off{
       
    }
    .vote-down-off{
       
    }
    .rank-voted{
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 5px;
        margin-top: 1px;
    }
}

div.question-block{
    min-height:110px;
}

.btn-primary {
    background-color: #006DCC;
    background-image: -moz-linear-gradient(top, #08C, #04C);
    background-image: -ms-linear-gradient(top, #08C, #04C);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#08C), to(#04C));
    background-image: -webkit-linear-gradient(top, #08C, #04C);
    background-image: -o-linear-gradient(top, #08C, #04C);
    background-image: linear-gradient(top, #08C, #04C);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#08C', endColorstr='#04C', GradientType=0);
    border-color: #04C #04C #002A80;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}